/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 29/05/2023, 15:10:08
    Author     : Juan
*/


.texto-bienvenida{
    text-align: end;
    margin-top: 70px;
    margin-right: 150px; 
}

.parrafo-admin{
    text-align: end;
    margin-top: 100px;
    margin-right: 60px; 
}

.grupo-botones{
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: 150px;
    gap: 100px;
}

.grupo-botones a{
    color: white;
}
